/dictionary

# 忽略仅用于参考的翻译记忆库，但排除会影响翻译结果的 auto 和 enforce 翻译记忆库
/tm/*
!/tm/auto
!/tm/enforce

# 自动导出的翻译记忆库
/*-level1.tmx
/*-level2.tmx
/*-omegat.tmx

/omegat/last_entry.properties
/omegat/*.bak
/omegat/stats.txt
/omegat/project_stats.txt
/omegat/project_stats_match.txt
